@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

.footer {
  background-color: #eeeeee;
}

.header ul, .footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.header ul li a, .footer ul li a {
  text-decoration: none;
  color: #7a7a7a;
}

.buttons button {
  font-size: 0.9rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  padding-block: 1rem;
}
