body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 0.5rem;
}

.title {
  background: #e3f4ff;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.content {
  background: #e3f4ff;
  margin: 0.5rem;
  padding: 0.5rem;
}

.button-container {
  background: #e3f4ff;
  margin: 0.5rem;
  padding: 0.5rem;
  padding-inline: 8rem;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}